.not-found-white-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  font-family: 'Roboto';
}

.white-background {
  background-color: #ffffff;
}
.dark-background {
  background-color: #000000;
}

.not-found-sty {
  height: 50%;
}

.not-found-dark-heading {
  color: #171f46;
  font-size: 50px;
}
.not-found-light-heading {
  color: #ffffff;
  font-size: 50px;
}
.dark-not-found-paragraph {
  color: #171f46;
}

.light-not-found-paragraph {
  color: #ffffff;
}

@media screen and (max-width: 450px) {
  .not-found-sty {
    height: 25%;
  }
  .heading {
    font-size: 26px;
  }
}

@media screen and (max-width: 250px) {
  .not-found-sty {
    height: 15%;
  }
  .heading {
    font-size: 20px;
  }
}
