.navbar-bg-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 100px;
}
.home-about-container {
  display: flex;
  list-style-type: none;
}
.nav-txt {
  margin: 8px;
  font-weight: bold;
}

.nav-txt-dark {
  color: #171f46;
  text-decoration: none;
}
.nav-txt-light {
  color: #ffffff;
}

.website-logo {
  height: 50px;
}

.navbar-logo {
  height: 30px;
}

@media screen and (max-width: 350px) {
  .website-logo {
    height: 30px;
  }

  .navbar-logo {
    height: 20px;
  }
}

@media screen and (max-width: 230px) {
  .nav-txt {
    font-size: 12px;
  }
}

.dark {
  background-color: #333333;
}
